@*@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset password";
}

<h2>@ViewData["Title"]</h2>
<h4>Reset your password.</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input asp-for="Code" type="hidden" />
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Reset</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}*@


@model ResetPasswordViewModel
@{ Layout = null; }

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Reset Password</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/Content/fonts/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Content/dist/css/util.css">
    <link rel="stylesheet" type="text/css" href="/Content/dist/css/main.css">
    <!--===============================================================================================-->
</head>
<body>

    <div class="limiter">
        <div class="container-login100" style="background-image: url('/Content/images/VIRTUSGOLoyalty.png');">
            <div class="wrap-login100 p-t-30 p-b-50">
                <span class="login100-form-title p-b-41">
                    <img src="/Content/images/LogoVirtusGo.png" width="300px" />
                </span>
                @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "login100-form p-b-33 p-t-5", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(x => x.Code)
                    <div class="wrap-input100 validate-input" data-validate="Enter username">
                        @Html.TextBoxFor(m => m.Email, new { @class = "input100", placeholder = "Email", @name = "username", @type = "text" })
                        <span class="focus-input100" data-placeholder="&#xe82a;"></span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Enter password">
                        @Html.PasswordFor(m => m.Password, new { @class = "input100", placeholder = "Nova Senha", @name = "pass", @type = "password" })
                        <span class="focus-input100" data-placeholder="&#xe80f;"></span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Enter password">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "input100", placeholder = "Confirmar Senha", @name = "pass", @type = "password" })
                        <span class="focus-input100" data-placeholder="&#xe80f;"></span>
                    </div>
                    <div class="text-center">
                        @Html.ValidationSummary(true, "", new {@class = "alert alert-error"})
                    </div>
                    <div class="container-login100-form-btn m-t-32">
                        <ul>
                            <li style="font-size: 12px; color: #2f4f4f">* Necessário caracter especial</li>
                            <li style="font-size: 12px; color: #2f4f4f" >* Necessário letra maiúscula</li>
                            <li style="font-size: 12px; color: #2f4f4f">* Necessário números</li>
                            <li style="font-size: 12px; color: #2f4f4f">* Mínimo de 8 caracteres</li>
                        </ul>
                    </div>
                    <div class="container-login100-form-btn m-t-32">
                        <button type="submit" class="login100-form-btn">
                            Enviar
                        </button>
                    </div>
                }
            </div>
        </div>
    </div>
</body>
</html>