@model VirtusGo.Core.Application.ViewModels.MotoristaViewModel
<div class="box-body">
    <div class="row">
        <div class="form-horizontal">
            <div class="col-xs-6">
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Nome, new {htmlAttributes = new {@class = "form-control", @placeholder = "Nome Completo"}})
                    </div>
                </div>
            </div>

            <div class="col-xs-6">
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.CPF, new {htmlAttributes = new {@class = "cpfcnpj form-control", @placeholder = "CPF"}})
                    </div>
                </div>
            </div>

            <div class="col-xs-6">
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.NumeroCNH, new {htmlAttributes = new {@class = "form-control", @placeholder = "CNH"}})
                    </div>
                </div>
            </div>

            <div class="col-xs-6">
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.CategoriaCNH, new {htmlAttributes = new {@class = "form-control", @placeholder = "Cat. CNH"}})
                    </div>
                </div>
            </div>

            <div class="col-xs-6">
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.Label("Data Vencimento")
                    </div>
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.DataVencimentoCNH, new {htmlAttributes = new {@class = "form-control", @placeholder = "Vencimento CNH", @type = "date"}})
                    </div>
                </div>
            </div>

            <div class="col-xs-6">
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.Label("Data Nascimento")
                    </div>
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.DataNascimento, new {htmlAttributes = new {@class = "form-control", @placeholder = "Data de Nascimento", @type = "date"}})
                    </div>
                </div>
            </div>

            <div class="col-xs-6">
                <div class="form-group">
                    <div class="col-md-12">
                        <select asp-for="EnderecoId" asp-items="@(new SelectList(@ViewBag.FillEnderecos, "Value", "Text"))" class="form-control select2"></select>
                    </div>
                </div>
            </div>

            <div class="col-xs-6">
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.EditorFor(model => Model.Telefone, new {htmlAttributes = new {@class = "form-control", @placeholder = "Telefone"}})
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="box-footer">
    <button type="submit" class="btn btn-info pull-right">Cadastrar</button>
</div>