@model VirtusGo.Core.Application.ViewModels.PedidoViewModel
<div class="box-body">
    <div class="row">
        <div class="form-horizontal">
            <div class="col-xs-6">
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.Label("Fornecedor")
                    </div>
                    <div class="col-md-12">
                        <select asp-for="ParceiroId" asp-items="@(new SelectList(@ViewBag.FillParceirosk, "Value", "Text"))" class="form-control select2"></select>
                    </div>
                </div>
            </div>

            <div class="col-xs-6">
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.Label("Motorista")
                    </div>
                    <div class="col-md-12">
                        <select asp-for="MotoristaId" asp-items="@(new SelectList(@ViewBag.FillMotoristas, "Value", "Text"))" class="form-control select2"></select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="box-footer">
    <button type="submit" class="btn btn-info pull-right">Cadastrar</button>
</div>