@model VirtusGo.Core.Application.ViewModels.EnderecoViewModel
<div class="box-body">
    <div class="row">
        <div class="form-horizontal">
            <div class="col-xs-12">
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.EditorFor(model => Model.Logradouro, new {htmlAttributes = new {@class = "form-control", @placeholder = "Logradouro"}})
                    </div>
                </div>
            </div>
            
            <div class="col-xs-12">
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.EditorFor(model => Model.Bairro, new {htmlAttributes = new {@class = "form-control", @placeholder = "Bairro"}})
                    </div>
                </div>
            </div>

            <div class="col-xs-6">
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.EditorFor(model => Model.Cep, new {htmlAttributes = new {@class = "form-control", @placeholder = "CEP"}})
                    </div>
                </div>
            </div>

            <div class="col-xs-6">
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.EditorFor(model => Model.Numero, new {htmlAttributes = new {@class = "form-control", @placeholder = "Número"}})
                    </div>
                </div>
            </div>

            <div class="col-xs-12">
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.Label("Cidade")
                    </div>
                    <div class="col-md-12">
                        <select asp-for="CidadeId" asp-items="@(new SelectList(@ViewBag.FillCidades, "Value", "Text"))" class="form-control select2"></select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="box-footer">
    <button type="submit" class="btn btn-info pull-right">Cadastrar</button>
</div>