@using VirtusGo.Core.Domain.Enums
@model VirtusGo.Core.UI.Mvc.Models.AccountViewModels.RegisterViewModel

@{
    ViewBag.Title = "Novo Usuário";
}

<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Cadastro <small>Usuários</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="/administrativo-cadastro/usuarios" class="btn btn-block btn-success btn-sm" style="color: white">
                    <span class="fa fa-list-ul"></span> Listar
                </a>
            </li>
        </ol>
    </section>

    <section class="content">
        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title">Dados do Usuário</h3>
            </div>
            @using (Html.BeginForm("CreateConfirmed", "Usuario", FormMethod.Post, new {@class = "form-horizontal"}))
            {
                @Html.AntiForgeryToken()

                @Html.Partial("_ErrorSummary")

                <div class="box-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    @Html.EditorFor(model => model.Nome, new {htmlAttributes = new {@class = "form-control", @placeholder = "Nome Usuário"}})
                                    @Html.ValidationMessageFor(model => model.Nome, "", new {@class = "text-danger"})
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    @Html.EditorFor(model => model.Email, new {htmlAttributes = new {@class = "form-control", @placeholder = "Email"}})
                                    @Html.ValidationMessageFor(model => model.Email, "", new {@class = "text-danger"})
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-6">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    @Html.EditorFor(model => model.Cpf, new {htmlAttributes = new {@class = "cpfcnpj form-control", @placeholder = "CPF"}})
                                    @Html.ValidationMessageFor(model => model.Cpf, "", new {@class = "text-danger"})
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    @Html.PasswordFor(m => m.Password, new {@class = "form-control", @placeholder = "Senha"})
                                    @Html.ValidationMessageFor(model => model.Password, "", new {@class = "text-danger"})
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-6">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    @Html.PasswordFor(m => m.ConfirmPassword, new {@class = "form-control", @placeholder = "Repetir Senha"})
                                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new {@class = "text-danger"})
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <div class="col-md-12">
                                    @Html.Label("Perfil")
                                </div>
                                <div class="col-sm-12">
                                    <select asp-for="PefilUsuario" asp-items="@Html.GetEnumSelectList(typeof(PerfilUsuarioEnum))" class="form-control"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-info pull-right">Cadastrar</button>
                </div>
            }
        </div>
    </section>
</div>