@{
    ViewBag.Title = "Kardex";
}


<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">Kardex</h3>
                    </div>
                    <div class="box-body">
                        <div class="form-horizontal">
                            <div class="col-xs-12">
                                <label class="control-label" style="font-weight: bold; font-size: 17px">Pesquisar:</label>
                                <div class="form-group">
                                    <div class="col-md-6">
                                        @Html.Editor("Modelo", new {htmlAttributes = new {@class = "cpfcnpj form-control", @placeholder = "Empresa"}})
                                    </div>
                                    <div class="col-md-5">
                                        @Html.Editor("Modelo", new {htmlAttributes = new {@class = "cpfcnpj form-control", @placeholder = "Data de Apuração"}})
                                    </div>
                                    <button type="submit" class="btn btn-info">Buscar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-success">
                    <div class="box-body">
                        <table id="myTable" class="table table-bordered table-hover" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Cod. Produto</th>
                                <th>Classificação</th>
                                <th>Opções</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="modal fade" id="DeleteModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="background-color: darkorange; color: white">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirmação</h4>
            </div>
            <h3 class="text-center text-danger">Tem certeza que deseja excluir os dados abaixo?</h3>
            <div class="modal-body" style="height: 220px;">
                <div class="row">
                    <div class="box-body">
                        <h4>
                            <label>ID:</label> <label id="myID" name="myID" value="" style="font-weight: lighter; font-family: Arial;"></label> <br/>
                            <label>Nome:</label> <label id="Nome" name="Nome" value="" style="font-weight: lighter; font-family: Arial;"></label> <br/>
                            <label>CPF/CNPJ:</label> <label id="Documento" name="Documento" value="" style="font-weight: lighter; font-family: Arial"></label><br/>
                            <label>Telefone:</label> <label id="Telefone" name="Telefone" value="" style="font-weight: lighter; font-family: Arial;"></label><br/>
                            <label>Email:</label> <label id="Email" name="Email" value="" style="font-weight: lighter; font-family: Arial"></label><br/>
                        </h4>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <p class="text-warning pull-left">Virtus|Loyalty</p>
                <div class="pull-right">

                    @using (Html.BeginForm("Delete", "Cliente", FormMethod.Post))
                    {
                        <input type="hidden" id="txtidentify" name="txtidentify"/>
                        <input id="btnExcluir" type="submit" class="btn btn-danger" value="Excluir"/>
                        <input id="btnVoltar" type="button" class="btn btn-default" data-dismiss="modal" value="Voltar"/>
                    }

                </div>
            </div>
        </div>

    </div>
</div>

@section Scripts {
    <script>
        var table = $('#myTable').DataTable({
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": false, // this is for disable filter (search box)
            "lengthChange": false,
            //"orderMulti": false, // for disable multiple column at once
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.10.15/i18n/Portuguese-Brasil.json"
            },
            "ajax": {
                "url": "@Url.Action("GetGridData", "Cliente")",
                "type": "POST",
                "datatype": "json"
            },
            "columnDefs": [
                {
                    "defaultContent": "-",
                    "targets": "_all"
                }
            ],
            "columns": [
                {
                    "data": "Telefone",
                    "name": "Telefone",
                    "class": "text-center",
                    "orderable": false
                },
                {
                    "data": "NumeroDocumento",
                    "name": "NumeroDocumento",
                    "class": "text-center",
                    "orderable": false
                },
                {
                    "defaultContent":
                        '<div class="btn-group"><button type="button" id="pontuar" class="btn btn-success"><i class="fa fa-money"></i></button><button type="button" id="edit" class="btn btn-info"><i class="fa fa-pencil-square-o"></i></button><button type="button" id="delete" class="btn btn-danger"><i class="fa fa-trash-o "></i></button></div>',
                    "orderable": false,
                    "className": "text-center",
                    "searchable": false
                }
            ]
        });


        function VerificarString() {
            var string = $("#txtPesquisar").val();
            if (!isNaN(parseFloat(string)) && isFinite(string) && string.length >= 3) {
                $("#txtPesquisar").mask("000.000.000-00");
            }
            if (string === "") {
                $("#txtPesquisar").unmask();
            }
        }

        $("#btnPesquisar").click(function() {
            var string = $("#txtPesquisar").val();
            if (!isNaN(parseFloat(string)) && isFinite(string) && string.length < 14) {
                toastr["error"]("CPF incompleto!").css("font-size", "20px");
            } else {
                table.ajax.url("@Url.Action("GetGridData", "Cliente")?pesquisar=" + $("#txtPesquisar").val())
                    .load();
            }
        });

        $("#EmpresaId").change(function() {
            $.ajax({
                url: "@Url.Action("ListarUnidades", "Cliente")?id=" + $("#EmpresaId").val(),
                success: function(data) {
                    $("#UnidadeId").empty();
                    $("#UnidadeId").append('<option value>Todas</option>');
                    $.each(data,
                        function(index, element) {
                            if (element == null) {
                                $("#UnidadeId").hide();
                            } else {
                                $("#UnidadeId").append('<option value="' +
                                    element.Id +
                                    '">' +
                                    element.Fantasia +
                                    '</option>');
                            }
                        });
                }
            });
        });


        $('table tbody').on('click',
            '#edit',
            function() {
                var data = table.row($(this).parents('tr')).data();
                window.location.replace("/administrativo-beneficiarios/editar?id=" + data.Id);
            });

        $('table tbody').on('click',
            '#delete',
            function() {
                var data = table.row($(this).parents('tr')).data();
                document.getElementById("myID").innerHTML = "<small>" + data.Id + "</small>";
                document.getElementById("Nome").innerHTML = "<small>" + data.Nome + "</small>";
                document.getElementById("Documento").innerHTML = "<small>" + data.NumeroDocumento + "</small>";
                document.getElementById("Telefone").innerHTML = "<small>" + data.Telefone + "</small>";
                document.getElementById("Email").innerHTML = "<small>" + data.Email + "</small>";
                $("#DeleteModal").modal();
                document.getElementById("txtidentify").value = data.Id;
            });

        $('table tbody').on('click',
            "#pontuar",
            function() {
                var data = table.row($(this).parents('tr')).data();
                $("#UnidadeId").append('<option value>Selecione...</option>');
                var $nomeBeneficiario = document.getElementById("NomeBenefic");
                $nomeBeneficiario.textContent = data.Nome;
                $("#PontuarModal").modal();
                document.getElementById("PontuarId").value = data.Id;
            });
    </script>
}